
.page
	padding: 0 0 60px 0 
	@extend %in
	+r
		margin-right: 286px 
		width: auto
	+r(w990)
		margin-right: 0 
	.b-catalog &
		+r
			margin-right: 0 
.h2
	background: #F56541
	font-size: 12px  
	text-transform: uppercase
	font-weight: normal
	height: 60px 
	line-height: 60px
	padding-left: 70px  
	color: #fff 
	margin-bottom: 18px 
	+r(w600)
		text-align: center
		padding-left: 0 


.b
	margin-bottom: 50px 
.more
	font-size: 14px 
	text-decoration: none
	color: #AF0A4E
	display: inline-block
	clear: both
	padding-top: 22px  
	text-transform: lowercase
	margin-right: 20px 
	+r(w600)
		margin-left:  20px
.offers
	+clr
.offer
	width: 345px 
	height: 345px 
	float: left
	overflow: hidden
	position: relative
	margin-left: 40px 
	text-decoration: none
	color: #fff
	+r
		width: 31%
		height: auto
		margin-left: 3.5%  
	+r(w600)
		width: 80%
		margin-left: 10%
		margin-bottom: 20px  
	img
		display: block
		width: 100% 
		
	&:first-child
		margin-left: 0 
		+r(w600)
			margin-left: 10% 
	&__text
		position: absolute
		top: 100% 
		left: 0
		right: 0
		height: 100%   
		background: rgba(#000, .8) 
		z-index: 10 
		padding: 0 25px 0 35px 
		+transition(all .2s ease-in-out)
		color: #fff 
		opacity: .4 
		font-size: 36px 
		+r(w1200)
			font-size: 20px 
	&__year
		color: #fff
		margin-bottom: 20px  
		padding-top: 35px 
	&__title
		color: #FC4A27
		line-height: 1 
		font-weight: normal 
	&__more
		font-size: 20px 
		color: #fff 
		line-height: 1.2 
		+r(w1200)
			font-size: 13px 
	&__type
		font-size: 21px 
		margin-top: 25px 
		+r(w1200)
			font-size: 13px 
	&:hover
		.offer__text
			top: 0
			opacity: 1 
