.superslider
	&__slide
		height: 80vh
		width: 100%  
		background-size: cover 
	&__in
		@extend %in
		position: relative
		height: 1px 
		z-index: 1000 
	&__prev
		+s(prev)
		position: absolute
		bottom: 40vh
		left: 0  
		cursor: pointer
	&__next
		+s(next)
		position: absolute
		bottom: 40vh
		right: 280px 
		cursor: pointer 
	&__pagi
		position: absolute
		bottom: 30px 
		right: 300px 
		text-align: right
		a
			width: 10px 
			height: 10px 
			margin-left: 12px 
			display: inline-block
			border-radius: 10px 
			border: 1px solid #999 
			&.cycle-pager-active
				background: #999999 
	&__playpause
		position: absolute
		right: 280px 
		bottom: 30px 
		+s(pause)
		cursor: pointer
		&:active
			bottom: 28px 
	&__text
		position: absolute
		@extend %in
		margin-left: -700px
		left: 50%
		bottom: 30px   
		color: #fff 
		line-height: 1 
		font-size: 100px 
		text-shadow: -5px 0 5px rgba(#000, .5)
		span
			font-size: 20px 
			display: block


.logoslider
	position: relative
	margin-bottom: 14px 
	img
		-webkit-filter: grayscale(1)
		-webkit-filter: grayscale(100%)
		-moz-filter: grayscale(100%)
		filter: gray 
		filter: grayscale(100%)
		&:hover
			-webkit-filter: grayscale(0)
			-webkit-filter: grayscale(0%)
			-moz-filter: grayscale(0%)
			filter: none 
			filter: grayscale(0%)
	&__in
		@extend %in
		position: relative
	&__slides
		margin: 0 40px 
		width: 1050px 
	&__prev
		+s(prev1)
		position: absolute
		top: 30px 
		left: 0 
		cursor: pointer
	&__next
		+s(next1)
		position: absolute
		left: 1110px 
		cursor: pointer
		top: 30px  

